<!-- Masthead -->
<header class="masthead text-white text-center">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <h1 class="mb-5 with-shadow">We want to change the world in capital letters!</h1>
      </div>
     <div class="col-xl-9 mx-auto">
      <div class="form-row">
          <%= text_area_tag :text, nil, rows: 7, cols: 200, placeholder: "Enter your text here...",
            id: "text", class: "form-control form-control-lg" %>
      </div>
      <div class="form-row float-left mt-3">
        <button type="submit" id="clear-button" class="btn btn-block btn-lg btn-primary">CLEAR</button>
      </div>
      <div class="form-row float-left ml-3 mt-3">
        <button type="submit" id="copy-button" class="btn btn-block btn-lg btn-primary">COPY</button>
      </div>
      <div class="form-row float-right mt-3">
        <button type="submit" id="upcase-button" class="btn btn-block btn-lg btn-primary">UPCASE</button>
      </div>
      </div>
    </div>
  </div>
</header>

<!-- Icons Grid -->
<section class="features-icons bg-light text-center" id="features">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="icon-rocket m-auto text-primary"></i>
          </div>
          <h3>Improved</h3>
          <p class="lead mb-0">Our upcase algorithms improve the results up to 50% compare with others webs</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="icon-speedometer m-auto text-primary"></i>
          </div>
          <h3>Faster</h3>
          <p class="lead mb-0">We have the faster results in the upcase market. No one gives you capitalized text as faster a we do</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="icon-magic-wand m-auto text-primary"></i>
          </div>
          <h3>Easy to Use</h3>
          <p class="lead mb-0">We have the best User Experience engineers in order to make upcase as easy as possible</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Image Showcases -->
<section class="showcase" id="ethics">
  <div class="container-fluid p-0">
    <div class="row no-gutters">

      <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url(<%= image_path "pexels-photo-279321.jpg" %>);"></div>
      <div class="col-lg-6 order-lg-1 my-auto showcase-text">
        <h2>DREAM</h2>
        <p class="lead mb-0">
          We dream with an earth when everyone has the opportunity to capitalize their text. In order make it possible, we're going to put all our effort.
        </p>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-lg-6 text-white showcase-img" style="background-image: url(<%= image_path "pexels-photo-247963.jpg" %>);"></div>
      <div class="col-lg-6 my-auto showcase-text">
        <h2>FEEL</h2>
        <p class="lead mb-0">
          We feel that we're in this world to make it a better place. For this we believe that brings upcase to the whole internet it's a great goal to complete in ours lives.
        </p>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url(<%= image_path "pexels-photo-236238.jpg" %>);"></div>
      <div class="col-lg-6 order-lg-1 my-auto showcase-text">
        <h2>SMILE</h2>
        <p class="lead mb-0">We smile. We smile all the time! We're smiling every day, every hour, every second of our lifes. Thanks to that we can carry on with the weight on our shoulders.</p>
      </div>
    </div>
  </div>
</section>

<!-- Testimonials -->
<section class="testimonials text-center bg-light" id="testimonials">
  <div class="container">
    <h2 class="mb-5">What people are saying...</h2>
    <div class="row">
      <div class="col-lg-4">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
        <%= image_tag 'testimonials-1.jpg', class: "img-fluid rounded-circle mb-3" %>
          <h5>Margaret E.</h5>
          <p class="font-weight-light mb-0">"Thanks to Upcase Online, my daily work is much more bearable!"</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
        <%= image_tag 'testimonials-2.jpg', class: "img-fluid rounded-circle mb-3" %>
          <h5>Fred S.</h5>
          <p class="font-weight-light mb-0">"Upcase Online is amazing. I've been using it to create lots of super nice upcased text."</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
        <%= image_tag 'testimonials-3.jpg', class: "img-fluid rounded-circle mb-3" %>
          <h5>Sarah	W.</h5>
          <p class="font-weight-light mb-0">"Thanks so much for making these free resources available to us!"</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Call to Action -->
<section class="call-to-action text-white text-center">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <h2 class="mb-4 with-shadow">WE ARE NOT IN THIS WORLD TO THINK LOWERCASE</h2>
      </div>
    </div>
  </div>
</section>
