<!DOCTYPE html>
<html lang="en">

  <head>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.jpg', type: 'image/jpg' %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Making your text great again. Upcase your text like a pro. In Upcase Online we improving each letter capitalization with the best algorithms">
    <meta name="author" content="Enol Iglesias">

    <title>Upcase Online: Making your text great again</title>

    <!-- Bootstrap core CSS -->
    <%#= stylesheet_link_tag 'bootstrap.min' %>

    <!-- Custom fonts for this template -->
    <%= stylesheet_link_tag 'font-awesome.min' %>
    <%= stylesheet_link_tag 'simple-line-icons' %>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <%= stylesheet_link_tag 'landing-page' %>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-70084257-4"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-70084257-4');
    </script>


  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-light bg-light static-top">
      <div class="container">
        <a class="navbar-brand" href="#features">Features</a>
        <a class="navbar-brand" href="#ethics">Ethics</a>
        <a class="navbar-brand" href="#testimonials">Testimonials</a>
      </div>
    </nav>

    <%= yield %>

    <!-- Footer -->
    <footer class="footer bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
            <ul class="list-inline mb-2">
              <li class="list-inline-item">
                <a href="#">About</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="#">Contact</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="#">Terms of Use</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="#">Privacy Policy</a>
              </li>
            </ul>
            <p class="text-muted small mb-4 mb-lg-0">&copy; Upcase Online 2018. All Rights Reserved.</p>
            <p class="text-muted small mb-4 mb-lg-0">This is a fake web created just for fun by <a href="https://twitter.com/enoliglesias" target="_blank">@enoliglesias</a></p>
            <p class="text-muted small mb-4 mb-lg-0"><a href="http://undefinedmethod.com/" target="_blank">undefinedmethod.com</a></p>
          </div>
          <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
            <ul class="list-inline mb-0">
              <li class="list-inline-item mr-3">
                <a href="#">
                  <i class="fa fa-facebook fa-2x fa-fw"></i>
                </a>
              </li>
              <li class="list-inline-item mr-3">
                <a href="#">
                  <i class="fa fa-twitter fa-2x fa-fw"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-instagram fa-2x fa-fw"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

  </body>

</html>
